<h1>Congrats! You did it!</h1><br>
<p>You answered <%=@guesses.length%> questions!<br> You answered <%=@correct_guesses.length%> correctly!<br>You answered <%=@incorrect_guesses.length%> incorrectly!</p>