<h1>SIGN UP DAMNIT</h1>
<h3>Please create your account</h3>
<form action="/users" method="POST">
  <%= erb :"users/_create_form" %>
</form>
<a href="/">Click here if you already have an account.</a>

